<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %}{%endblock %}</title>
</head>
<body>
    <header>
        {% include header.html %}
        {% include busca.html%}
        <nav>
            {% include menu.html %}
        </nav>
    </header>
    <main>
        <section>
            {% block conteudo %}{% endblock %}
        </section>
        <aside>
            {% include sidebar.html %}
        </aside>
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>