{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %} - Cadastro de Usuário{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/cadastro.js' %}"></script>
{% endblock %}

{% block conteudo %}
    <h2>Cadastro de Usuário</h2>
    <form class="form-horizontal col-lg-10 registerForm" method="POST">
        {% crispy user_form %}
        {% crispy register_form %}
    </form>
{% endblock %}