{% extends 'base.html' %}
{% load static%}

{% block title %}{% endblock %}
{% block scripts %}{% endblock %}

{% block conteudo %}
    {% if notificacao %}
        <div class="alert alert-{{ notificacao.type }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ notificacao.msg }}
        </div>
    {% endif %}
    {% for i in receitas %}
        {% if i.categoria %}
            <h2 class="categorias">
                <a href="{% url categoria i.Nome %}">{{ i.Nome }}</a>
            </h2>
        {% else %}
            <article class="receita">
                <div class="col-lg-5">
                    <img src="/uploads/{{ i.receita.image }}" class="receita_imagem img-responsive img-thumbnail">
                </div>
                <div class="col-lg-7">
                    <a href="{% url detalhe_receita i.receita.pk %}"><h3>{{ i.receita.nome }}</h3></a>
                    <p>{{ i.receita.descricao }}</p>
                    <p>Criado por: {{ i.receita.autor }}</p>
                    <p>Nota: {{ i.receita.avaliacao }}/5</p>
                </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}