{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %} - Login{% endblock %}
{% block scripts %}{% endblock %}

{% block conteudo %}
    <h2>Login</h2>
    {% if result == 'disabled' %}
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span> <strong>Disabled Account!</strong> Please contact support.
        </div>
    {% elif result == 'invalid' %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-remove"></span> <strong>Invalid login!</strong> Your login email or password are incorrect.
        </div>
    {% endif %}
    {% crispy login_form %}
{% endblock %}