<div class="col-lg-8">
    <ul class="nav nav-pills">
        {% if cat == 'home' %}
            <li role="presentation" class="active">
        {% else %}
            <li role="presentation">
        {% endif %}
        <a href="{% url index %}">Home</a></li>
        {%for cate in categorias %}
            {% if cate.nome == cat %}
                <li role="presentation" class="active">
            {% else %}
                <li role="presentation">
            {% endif %}
            <a href="{% url categoria cate.nome %}">{{ cate.nome }}</a></li>
        {% endfor %}
    </ul>
</div>
{% include 'busca.html'%}