{% load static %}
<h3>Receita do Dia</h3>
{% for receita in receita_do_dia %}
    <article class="receita col-lg-12">
        <a href="{% url detalhe_receita receita.pk %}">
            <img src="/uploads/{{ receita.image }}" height="{{ receita.image.height }}" width="{{ receita.image.width }}"
                 class="receita_imagem img-responsive" alt="">
            <h4>{{ receita.nome }}</h4>
        </a>
    </article>
{% endfor %}
<h3>Top Receitas</h3>
{% for receita in top_receitas %}
    <article class="receita col-lg-12">
        <a href="{% url detalhe_receita receita.pk %}">
            <img src="/uploads/{{ receita.image }}" height="{{ receita.image.height }}" width="{{ receita.image.width }}"
                 class="receita_imagem img-responsive" alt="">
            <h4>{{ receita.nome }}</h4>
        </a>
    </article>
{% endfor %}